
/* TODO: Consider moving to a dedicated file ? */
@media (max-width: 768px) {

    canvas {
        width: 100vw; /* Scales canvas width relative to viewport */
        height: auto; /* Maintain aspect ratio */
        max-width: 100%;
        display: block;
        margin: -20px 0 20px;
        border-radius: 0;
        border: none;
    }

    #top-page-navigation,
    #bottom-page-navigation {
        min-width: 100%;
        font-size: 0.95rem;
        padding: 0 10px;
    }

    .button-container {
        align-items: stretch;
        width: 100%;
        gap: 12px;
        /*padding: 0 10px;*/
    }

    button,
    select {
        width: 100%;
        font-size: 1.1rem;

        padding: 6px 12px;
        min-width: unset;
    }

    footer {
        width: 100%;
        text-align: center;
        font-size: 0.9rem;
        line-height: 1.4;
        padding: 20px 10px;
        box-sizing: border-box;
    }

    footer hr {
        margin: 16px 0;
        width: 90%;
    }

    #content {
        padding: 16px;
        box-sizing: content-box;
        border: 0;
        background: none;
        box-shadow: none;
    }


}
